@model ExigencyViewModel

<div class="form-group">
    <label asp-for="Definition"></label>
    <input type="text" class="form-control" asp-for="Definition">
    <span asp-validation-for="Definition" class="text-danger"></span>
</div>