@model AssignmentViewModel
@{
    ViewData["Title"] = "Yeni Görev Ekle";
}

<h5 class="text-secondary text-center mt-4">Yeni Görev Ekle</h5>
<hr class="mx-5" />
<form asp-action="Create" method="post" class="w-75 mx-auto p-3">
    @await Html.PartialAsync("_CreateOrUpdate", Model)
    <button type="submit" class="btn btn-success btn-block">
        <i class="fas fa-save mr-2"></i>
        Kaydet
    </button>
</form>

@section Javascript{
    <script src="~/lib/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
} 