<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery/jquery.min.js"></script>
    <script src="~/lib/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
